%table.table
  %thead
    %tr
      %th= 'Title'
      %th= 'Views Count'
      %th= 'Author'
      %th= 'Published Date'

  %tbody
    - @blogs.each do |blog|
      %tr
        %td= link_to blog.title, blog
        %td= blog.view_count
        %td= blog.user.name
        %td= blog.published_date.strftime('%F')
        %td= display_edit_button(blog)
        %td= display_delete_button(blog)
